<template>
    <fttl-yt-thumb class="stack-bottom"></fttl-yt-thumb>
    <iframe class="stack-bottom transparent-onload" tabindex="-1" aria-hidden="true" loading="lazy"></iframe>
    <fttl-progress-bar class="stack-top transparent-onload" part="progress-bar"></fttl-progress-bar>
    <time class="stack-top margin-inline-end mobile-hide" part="current-time">
        <span class="sr-only" lang="en"></span>
        <span role="timer" aria-hidden="true"></span>
    </time>
    <a class="stack-top" target="_blank"></a>
    <button class="stack-top margin-inline-end mobile-hide" part="sound-button"></button>
</template>